@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.bluebg{
    position: absolute;
    background-color: #1976d2;
    height: 670px;
   margin-top: -210px;
   padding-top: 210px;
    transform: skewY(8deg);
    z-index: -1;

}
@media (max-width:600px){
    .bluebg{
        transform: skewY(0deg);
    }

}
.navbar{
    height: 65px;
}
.row{
    width: 100%;

}
.burger{
    color: #fff;
    display: flex; 
    justify-content:space-between;
    align-items: center;
    display: none;
   
}
.burger:hover{
    cursor: pointer;
}
.burger img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
@media(max-width:1150px){
    .burger{
        display: flex;
        transition: .5s ease-in;
    }
}
.navbar-nav{ 
    display: flex; 
    flex-direction: row;
}
.navbar-nav li{
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-nav li:hover{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}
.logolist{
    display: none;
}
.logolist img{
    margin-right: 25px;
}
@media(min-width:1151px){
    .logolist{
        display: flex;

    }
}
.col-4.col-sm-4.col-md-6.col-lg-6.col-xl-6.col-xxl-6{
    width: auto;
    height: 100%;
}
.col-8.col-sm-8.col-md-6.col-lg-6.col-xl-6.col-xxl-6{
    width: auto;
    height: 100%;
}
#slash{
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    right: 36px;
    bottom: 1px;
   

}
.search input{
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 5px;
    transform: translateY(-1px);
    padding-top: 1px;
    height: 32px;
    width: 180px;
    
}
.search a i:hover{
    cursor: pointer;
}
#moon{
    transform: translateY(4px);
   
    color: #fff;
    padding:5px 7px 5px 4px;
    border-right: 1px solid #fff;
}
#moon:hover{
    cursor: pointer;
}
@media (max-width:550px){
    .row.justify-content-between{
        overflow: hidden;
    }
    .col-8.col-sm-8.col-md-6.col-lg-6.col-xl-6.col-xxl-6 .search{
        overflow: scroll;
    }
}
.search input#clicked{
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 5px;
    transform: translateY(-1px);
    padding-top: 1px;
    height: 32px;
    width: 180px;
}

@media (min-width:1000px){
.search input#clicked{
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
    margin-bottom: 5px;
    transform: translateY(-1px);
    padding-top: 1px;
    height: 32px;
    width: 230px;
    
}
}
.clickbar{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 535px;
    width: 285px;
    overflow: scroll;
    display: none;
    z-index: 1;
  
}

.clickbar ul{
    padding-left: 0;
    padding-top: 20px;
}
.clickbar ul li{
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    padding: 11px 0px 11px 20px;
}
.clickbar ul li:hover{
    background-color: rgba(172, 172, 172, 0.637);
    color: #1976d2;
}
.container.secondpart{
    height: 452px;
    width: 100%;
}
.container.secondpart .row{
    height: 100%;
    width: auto;
}
.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.logo{
    background-image: url(./images/logonoletter.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.written{
    height: 400px;
}
.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.written h1{
    font-size: 40px;
    line-height: 64px;
    font-weight: 600;
    margin-bottom: 30px;
}
#tryangular{
    height: 42px;
    width: 188px;
    border:none;
    border-radius: 20px;
    color: #1976d2;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.822);
}
#tryangular:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color:  #1976d2;
}
@media (max-width:992px){
    .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.logo {
        margin-top: -30px;
        height: 286px;
    }
    .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.written{
        margin-top: -50px;
        height: 246px;
    }
    .col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.written h1{
        font-size: 34px;
        line-height: 50px;
    }
}
.thirdpart{
    height: 700px;
}
.row.justify-content-center.mt-5{
    text-align: center;
}
@media (max-width:850px){
    .row.justify-content-center.mt-5 {
        text-align: left;
    }
}
.row.justify-content-center.down{
    margin-top: 30px;
}
.card{
    border: none;
}
.card h2{
    font-size: 20px;
    color: rgb(25, 118, 210);
    font-weight: 600;
}
.card-text{
    line-height: 32px;
    color: rgb(68, 68, 68);
}
.card-link{
    color: #1976d2;
    font-size: 16px;
    line-height: 32px;
}
.card-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-img{
    max-width: 277px;
}
@media (min-width:600px){
    .card-deck{
        display: flex;
    }
}
@media (max-width:575px){
    .card{
        text-align: center;
    
    }
   
}
.learnmore button{
    background-color: #fff;
    margin-top: 5px;

    padding-top: 10px;
    color: #1976d2;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.822);
    border: 1px none;
    border-radius: 21px;
    height: 42px;
    width: 172px;
    margin-bottom: 40px;
}
.learnmore button:hover h2{
    text-decoration: underline;
}

.learnmore button h2{
    font-size: 18px;
    font-weight: 600;
}